<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listar Departamentos</title>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
    </head>
    <body>
        <div class="contenedor">
            <h1>LISTAR Departamento</h1>
            <div th:if="${departamento != null and !departamento.empty}">
                <div class="botones">
                <table border="1" class="tablita">
                    <tr>
                        <th>Id departamento</th>
                        <th>Descripcion</th>
                    
                    </tr>
                    <tr th:each="departamento : ${departamento}">
                        <td th:text="${departamento.ID_DEPTO}"></td>
                        <td th:text="${departamento.DESCRIPCION_DEPTO}"></td>
                        <td><a th:href="@{/editardep/}+${departamento.ID_DEPTO}" th:text="Editar"/>
                 <td><a th:href="@{/eliminardep/}+${departamento.ID_DEPTO}" th:text="Eliminar"/>
                        
                    </tr>
                </table>
                <br/>
                <br/>
            </div>
            </div>
             <div class="botones">
            <div th:if ="${departamento == null or departamento.empty}">
                no hay.
            </div>
           <a th:href="@{/op}">Regresar</a>
        </div>
        </div>
    </body>
</html>
