<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: beige">
    <center>
        <h1> Que instruccion desea realizar </h1>
        
        <br> 
            <a th:href="@{/usuario}"><input type="button"  color="white" value=" MOSTAR USUARIO" style="background-color: cadetblue"></a>
                
            <a th:href="@{/profesion}"><input type="button"  color="white" value="PROFESION"  style="background-color: cadetblue" ></a>
                
            <a th:href="@{/agregar}"><input type="button"  color="white" value="AGREGAR USUARIOS" style="background-color: cadetblue"></a>
            
            <a th:href="@{/agregarpro}"><input type="button"  color="white" value="AGREGAR Profesion" style="background-color: cadetblue"></a>
            
            <a th:href="@{/agregardep}"><input type="button"  color="white" value="AGREGAR Departamento" style="background-color: cadetblue"></a>
            
            <a th:href="@{/departamento}"><input type="button"  color="white" value="Mostrar Departamento" style="background-color: cadetblue"></a>
      
       </br>
    </center>
    </body>
</html>
